@charset "UTF-8";

body {
  font: normal 14pt Arial;
  background-color: #465EFF;
  color: white;
}

header {
  text-align: center;
  color: #FCFC30;
  width: 400px;
  margin: auto;
  border-radius: 10px;
}

section {
  background-color: white;
  color: black;
  margin: auto;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
}

input#tel::-webkit-inner-spin-button, input#idade::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

footer {
  text-align: center;
}